<header>
  <ul>
    <li><a routerLink="app/page1">Page1</a></li>
    <li><a routerLink="app/page2">Page2</a></li>
    <li><a routerLink="app/page3">Page3</a></li>
  </ul>
</header>
<router-outlet></router-outlet>

<div id="dual-component">
  <div><ng-container [ngComponentOutlet]="leftComponent"></ng-container></div>
  <div><ng-container [ngComponentOutlet]="rightComponent"></ng-container></div>
</div>
<div id="component-buttons">
  <input type="button" (click)="ChangeLeftComponent()" value="Change left"/>
  <input type="button" (click)="ChangeRightComponent()" value="Change right"/>
</div>

